
<div class="container">
  <div class="row heading_show">
    <h2>My current booked luxury item</h2>
  </div>

  <div class="_card-show ">
    <%= cl_image_tag @good.photos.first.key, crop: :fill %>
    <h4><%= @booking.good.name %></h4>
    <p>Total price: <strong><%= @booking.value %> €</strong></p>
    <p>Starting date: <strong><%= @booking.start_date.strftime('%A %d %B %Y') %> </strong></p>
    <p>End date: <strong><%= @booking.end_date.strftime('%A %d %B %Y') %> </strong></p>
    <p>Designer: <strong><%= @good.designer %> </strong></p>
    <p>Category: <strong><%= @good.category %> </strong></p>
  </div>
  <%= link_to 'Back', root_path, class: "btn btn-outline-secondary _button-gold mb-0" %>
</div>

