<div class="search-home">
<form>
  <div class="search-form">
    <div class="search-title">
      <section>
        <h1>Rent your luxury item</h1>
      </section>
    </div>
    <%= simple_form_for (@good ) do |f|%>
      <%= f.input :location, collection: Good::LOCATION %>
      <%=  f.input :designer, collection: Good::DESIGNER%>
      <%=  f.input :category, collection: Good::CATEGORY %>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="location">START DATE</label>
          <input type="text" class="form-control" id="start_date">
        </div>
        <div class="col-md-6 mb-3">
          <label for="location">END DATE</label>
          <input type="text" class="form-control" id="start_date">
        </div>
      </div>
  <% end %>
      <%= link_to "Search", goods_path, class: "btn btn-outline-secondary _button col-md-12" %>

  </div>
</form>
</div>
