

<div class="mx-5">
  <div>
    <div>
      <h2 class="mt-4"> Profile Page</h2>
    </div>
  </div>

  <div class="mb-4">
    <!-- this div contains all the body below h2 -->
    <div>
    <!-- sidebar -->
      <div class="d-flex">
        <!-- container for card of profile -->
        <div class="card  _user-info" style="width: 23rem;">
        <img src="https://www.historyisfun.org/wp-content/uploads/2018/09/John-Smith-picture.jpg" class="card-img-top" alt="...">
          <div class="card-body _profile-card-body">
            <h5>Name</h5>
            <p class="card-text"><%= @user.first_name %> <%= @user.last_name %></p>
            <h5>Location</h5>
            <p class="card-text"><!-- <i class="fas fa-map-marker-alt profile-marker"></i> -->  <%= @user.address %></p>
            <h5><strong>Contact</strong></h5>
            <p class="card-text"><%= @user.phone_number %></p>
            <h5><strong>Email</strong></h5>
            <p class="card-text"><%= @user.email %></p>
            <a href="#" class="btn btn-outline-secondary _button-gold mx-auto">Edit Profile</a>
          </div>
        </div>

      <div style="width: 100%">
      <div class="d-flex">
        <div class="card ml-4 mt-2" style="width: 20rem; height: 14rem">
          <div class="card-body">
            <h5>Next Booking</h5>
            <p> <%= @next_booking.good.name %></p>
            <p> <%= @next_booking.start_date.strftime('%A %d %B %Y') %>
            </p>
        <p class="card-text">
       <!--    <%# if @bookings.count == 0  %>
              <%= @bookings.count %> <br> <strong>Bookings</strong></p>
              <a href="#" class="btn btn-outline-secondary _button-gold mx-auto">Schedule new booking</a>
          <%# elsif @bookings.count == 1 %>
              <p><%= @bookings.count %> <strong>Booking scheduled</strong></p>
              <a href="#" class="btn btn-outline-secondary _button-gold mx-auto">My Bookings</a>

           <%# else %>
              <p><%= @bookings.count %> <strong>Bookings scheduled</strong></p>
              <a href="#" class="btn btn-outline-secondary _button-gold mx-auto">My Bookings</a>
          <%# end %> -->
            <%= link_to 'See Details', bookings_path, class: "btn btn-outline-secondary _button-gold mb-0" %></p>
          </div>
        </div>


        <div class="card ml-4 mt-2" style="width: 20rem; height: 14rem">
          <div class="card-body">
            <% if @goods.count == 0  %>
              <p><%= @goods.count %> <br> <strong>Items for rent</strong></p>
              <a href="#" class="btn btn-outline-secondary _button-gold mx-auto">Add new item</a>

            <% elsif @goods.count == 1  %>
              <p><%= @goods.count %> <br> <strong>Item for rent</strong></p>
              <a href="#" class="btn btn-outline-secondary _button-gold mx-auto">Add new item</a>
            <% else %>
              <p><%= @goods.count %> <strong>Items for rent</strong></p>
              <a href="#" class="btn btn-outline-secondary _button-gold mx-auto">My Goods list</a>
            <% end %>
          </div>
        </div>
      </div>
          <h5 class="m-4">My goods</h5>
        <div class="overflow-auto ml-4" style="width: 100%; height: 10rem">

        <!-- My goods list -->
        <% @goods.each do |good| %>
        <div class="notification" >

          <img src='<%= cl_image_path good.photos.first.key, crop: :fill %>' class="avatar-large" />
          <div class="notification-content">
            <p><small><%=link_to good.name, good_path(good)  %></small></p>
         <!--    <p><%= good.description %></p> -->
          </div>
          <div class="notification-actions">
            <%= link_to edit_good_path(good) do %>Edit<i class="fas fa-pencil-alt"></i><% end %>

            <%= link_to good_path(good), method: :delete, data: {confirm: "Are sure?"} do%>
            <i class="far fa-trash-alt"> </i>
              <% end %>
            <!-- <a href="#">Delete </i></a> -->
          </div>
        </div>

        <% end %>
      </div>

      <h5 class="m-4"> My Bookings awaiting confirmation</h5>
      <div class="overflow-auto ml-4" style="width: 100%; height: 10rem">

        <!-- My goods list -->
        <% @bookings.each do |booking| %>
        <div class="notification" >
          <% if booking.status == false %>
            <% good = Good.find(booking.good_id)  %>
            <img src='<%= cl_image_path good.photos.first.key, crop: :fill %>' class="avatar-large" />
            <div class="notification-content">
              <p><small><%= good.name %></small></p>
              <p><small> <%= booking.start_date.strftime('%A %d %B %Y') %></small></p>
         <!--    <p><%= good.description %></p> -->
          </div>
          <% end %>
          <div class="notification-actions">

            <% if booking.status == false %>
                  <p>Unconfirmed <i class="fas fa-minus-circle"></i></p>
            <% else %>
                  <p>Confirmed!!! <i class="fas fa-check-circle"></i></p>
            <% end %>

            <%= link_to good_path(good), method: :delete, data: {confirm: "Are sure?"} do%>
            <i class="far fa-trash-alt"> </i>
            <% end %>
            <!-- <a href="#">Delete </i></a> -->
          </div>
        </div>

        <% end %>
      </div>



    </div>








      </div>

    </div>

      <!-- contains center of page -->





</div>
</div>
