

<div class="container">
  <div>
    <div>
      <h2> Profile Page</h2>
    </div>
  </div>

  <div>
    <!-- this div contains all the body below h2 -->
    <div>
    <!-- sidebar -->
      <div class="d-flex">
        <!-- container for card of profile -->
        <div class="card" style="width: 23rem;">
        <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
        <p class="card-text"><strong>Name: </strong> <%= @user.first_name %></p>
        <p class="card-text"><strong>Last name:</strong> <%= @user.last_name %></p>
        <p class="card-text"><strong>Addres:</strong> <%= @user.address %></p>
        <p class="card-text"><strong>Phone:</strong> <%= @user.phone_number %></p>
        <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
        <a href="#" class="btn btn-primary mx-auto">Edit Profile</a>
          </div>
        </div>
        <div class="card ml-4" style="width: 15rem; height: 10rem">
          <div class="card-body">
        <p class="card-text"><strong>666 bokings</strong></p>
        <a href="#" class="btn btn-primary mx-auto">My Bookings</a>
          </div>
      </div>



      </div>

    </div>
    <div>
      <!-- contains center of page -->


      <div class="d-flex">
      <div>
        <!-- My goods list -->
        <% @goods.each do |good| %>
        <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">

            <p><small><%= good.name  %></small></p>
            <p><%= good.description %></p>
          </div>
          <div class="notification-actions">
            <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
            <%= link_to good_path(good), method: :delete, data: {confirm: "Are sure?"} do%>
            <i class="far fa-trash-alt"> </i>
              <% end %>
            <!-- <a href="#">Delete </i></a> -->
          </div>
        </div>

        <% end %>
      </div>

      <div>
        <!-- My reservations -->
        <% @bookings.each do |booking| %>
        <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">

            <p><small><%= booking.good.name  %></small></p>
            <p>From:<%= booking.start_date %>, to: <%= booking.end_date %> </p>
          </div>
          <div class="notification-actions">
            <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
            <a href="#">Delete <i class="far fa-trash-alt"></i></a>
          </div>
      </div>
      <% end %>
    </div>
    </div>


</div>

  </div>
</div>
