<div class="container w-50">
<h2 class="text-center">Log in</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>



  <div class="form-inputs">
    <div class="row justify-content-center">
    <div class="form-group col-md-10">

      <div class="form-group row">
      <div class="col">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>


          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
      </div>
      </div>
      </div>
      </div>


    <!--   ---SUBMIT -->
      <div class="form-group row">

        <div class="col-md-12 text-center">
          <div class="form-actions">
             <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

        <div class="col-md-12 text-center">
          <%= f.button :submit, "Log in", class: "btn btn-outline-secondary _button-gold" %>
        </div>

        </div>
       </div>
            <% end %>
      </div>
    </div>




