<div class=" allgoods">
<div class="col-2 pl-3 fil-b">
  <h4 class="filter-head pl-4 my-3 py-3">Designer</h4>
  <% Good::DESIGNER.each do |f| %>
     <ul class="filters pl-4"><li><%= f %></li></ul>
  <% end %>
  <h4 class="filter-head pl-4 my-3 py-3">Category</h4>
  <% Good::CATEGORY.each do |f| %>
     <ul class="filters pl-4"><li><%= f %></li></ul>
  <% end %>
  </div>
  <div class="cards   c-ind-b overflow-auto col-7">
    <% @goods.each do |good| %>
    <div class="card  c-body">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path good.photos.first.key, crop: :fill %>')">
      </div>
      <div class="card-good-infos">
        <div>
          <h5><%= link_to good.name, good_path(good)%></h5>
          <p><%= good.category%></p>
          <h6><em><%= good.designer%></em></h6>
        </div>
          <h6 class="card-good-pricing mb-3"><%=good.price%>€/day</h6>
        </div>
      </div>
    <% end %>
  </div>

  <div id="map"  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="pk.eyJ1IjoibWFyaWlhZGMiLCJhIjoiY2s3NHZ2NnQyMDlrbzNlbnQ2cnFrdWNpZiJ9.ZYmsU_WNi11Tl2xL_v-hfw" class="container col-3 mx-0">
  </div>
</div>
