<div class="container box">
<h1 class="title">Add your item</h1>

<div class="row">
<div class="col-6">
<%= simple_form_for [@good] do |f| %>
<div class="form-inputs">

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
  <%= f.input :location, collection: Good::LOCATION %>
  <%=  f.input :designer, collection: Good::DESIGNER%>
  <%=  f.input :category, collection: Good::CATEGORY %>
<div class="row d-flex justify-content-between">
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary", id:"second" %>
 <%= f.submit "Add your item", class: "btn btn-primary", id:"first" %>
</div>
</div>
<% end %>
</div>

  <div class="col-6">
  <%= image_tag "online.svg", alt: "online", width: "80%", id:"online" %>
  </div>

  </div>
</div>
