<div class="page">
  <%= render partial: 'shared/carousel'%>
  <div class="container _title">
    <%= @good.name %>
  </div>
  <div class="container _body mt-4">
    <div class="description ">
      <div class="card-good-infos">
     <p><em> <%= @good.designer %> </em></p>
     <p id="price"><strong> <%= @good.price %></strong> €/day</p>
     </div>
      <p><%= @good.description %></p>
    </div>
    <div class="container col-md-4 _dates mb-4 ">
      <%= render partial: 'shared/dates' %>
    </div>
  </div>
</div>




